@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-custom-green: #2bd886;
  --color-custom-purple: #ccbdf4;
  --color-custom-salad: #dbf9b8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0 20vh;
}

#header {
  padding-bottom: 2em;
}

#contacts,
#why,
#features,
#FAQ,
#carousel {
  padding: 3em 0;
}

@media (max-width: 767px) {
  .image-container {
    display: none;
  }
  body {
    padding: 0 2vh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  color: #454545;
  background: #ffe9fb;
}

/* *,
*:before,
*:after {
  position: relative;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

*:before,
*:after {
  content: "";
  display: block;
} */

.cls-1 {
  fill: #fff;
  stroke: #ffbaf3;
  stroke-miterlimit: 5;
  stroke-width: 25px;
  stroke-linecap: round;
}
.cls-2 {
  fill: #fff;
  stroke: #cbbdf3;
  stroke-miterlimit: 5;
  stroke-width: 25px;
  stroke-linecap: round;
}
.cls-3 {
  stroke: #ffbaf3;
  stroke-width: 20px;
  stroke-linecap: round;
}

.cls-4 {
  stroke: #2ed787;
  stroke-width: 20px;
  stroke-linecap: round;
}

.cls-5 {
  stroke: #f6f99b;
  stroke-width: 10px;
  stroke-linecap: round;
}
