@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-custom-green: #2bd886;
  --color-custom-purple: #ccbdf4;
  --color-custom-salad: #dbf9b8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0 20vh;
}

#header {
  padding-bottom: 2em;
}

#contacts,
#why,
#features,
#FAQ,
#carousel {
  padding: 3em 0;
}

@media (max-width: 767px) {
  .image-container {
    display: none;
  }
  body {
    padding: 0 2vh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  color: #454545;
  background: #ffe9fb;
}

.cls-1 {
  fill: #fff;
  stroke: #ffbaf3;
  stroke-miterlimit: 5;
  stroke-width: 25px;
  stroke-linecap: round;
}
.cls-2 {
  fill: #fff;
  stroke: #cbbdf3;
  stroke-miterlimit: 5;
  stroke-width: 25px;
  stroke-linecap: round;
}
.cls-3 {
  stroke: #ffbaf3;
  stroke-width: 20px;
  stroke-linecap: round;
}

.cls-4 {
  stroke: #2ed787;
  stroke-width: 20px;
  stroke-linecap: round;
}

.cls-5 {
  stroke: #f6f99b;
  stroke-width: 10px;
  stroke-linecap: round;
}
.cls-6 {
  stroke: #feef78;
  overflow: hidden;
  stroke-width: 40px;
  stroke-linecap: round;
}

.cls-7 {
  stroke: #daf9b6;
  stroke-width: 40px;
  stroke-linecap: round;
}

.cls-8 {
  stroke: #cdbef5;
  overflow: hidden;
  stroke-width: 40px;
  stroke-linecap: round;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.menu-item {
  margin: 0 !important;
}
