@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-custom-green: #2bd886;
  --color-custom-purple: #ccbdf4;
  --color-custom-salad: #dbf9b8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  padding: 0 20vh;
} */

#header {
  padding-bottom: 1em;
  padding-top: 0.5em;
}

#contacts {
  padding-top: 5em;
}

#why {
  padding-top: 5em;
}

#features {
  padding-top: 5em;
}

/* #FAQ {
} */

@media (max-width: 767px) {
  .image-container {
    display: none;
  }
  body {
    padding: 0 2vh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  color: rgb(0, 229, 255);
  background: rgb(17, 255, 0);
}
